body {
  padding: 4.8rem 2.4rem;
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4rem;
    .logo-header {
      color: black;
      letter-spacing: 12px;
      // font-size: 2.6rem;
    }
    .icon-moon {
      width: 1.932rem;
      height: 2rem;
    }
  }
  main {
    .input-container {
      margin-bottom: 1.6rem;
      .todo {
        width: 100%;
        height: 4.8rem;
        border: none;
        border-radius: 5px;
        background: white;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1.3rem;
        padding: 0 2rem;
        cursor: pointer;
        // .circle {
        //   height: 20px;
        //   width: 20px;
        //   border-radius: 90px;
        //   border: 0.1rem #e3e4f1 solid;
        // .checkmark {
        //   margin-left: 0.4rem;
        //   margin-top: 0.5rem;
        // }
        // }
        .todo-input {
          width: 100%;
          height: 4.8rem;
          border: none;
          outline: none;
          color: $very-dark-grayish-blue;
          font-size: 1.5rem;
          letter-spacing: -0.017rem;
        }
      }
    }
    .todo-container {
      ul {
        .todo {
        }
        .list-item {
          display: flex;
          justify-content: space-between;
          align-items: center;

          width: 100%;
          height: 5.2rem;
          border: none;
          background: white;
          padding: 0 2rem;
          border-bottom: 1px $very-light-grayish-blue solid;
          .delete {
            cursor: pointer;
          }
          .delete-dynamic {
            cursor: pointer;
          }
        }
        .list-item:nth-child(1) {
          border-radius: 5px 5px 0 0;
        }
      }
      .todo-info-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 5rem;
        background: white;
        padding: 0 2rem;
        width: 100%;
        border-radius: 0 0 5px 5px;
        margin-bottom: 1.6rem;
        .items-left {
          color: $dark-grayish-blue;
          font-size: 1.4rem;
          letter-spacing: -0.017rem;
        }
        .btn-clear {
          color: $dark-grayish-blue;
          font-size: 1.4rem;
          letter-spacing: -0.017rem;
        }
      }
    }
    .filter-container {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 2rem;
      width: 100%;
      height: 4.8rem;
      background: white;
      border-radius: 5px;
      margin-bottom: 4rem;
      .btn {
        color: $dark-grayish-blue;
        font-weight: 700;
        font-size: 1.4rem;
      }
    }
    .instruction-paragraph {
      color: $dark-grayish-blue;
      font-size: 1.4rem;
      letter-spacing: -0.019rem;
      text-align: center;
    }
  }
}

.circle {
  height: 20px;
  width: 20px;
  border-radius: 90px;
  border: 0.1rem #e3e4f1 solid;
  cursor: pointer;
}

.checkmark {
  margin-left: 0.4rem;
  margin-top: 0.5rem;
}
