*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Josefin Sans", sans-serif;
  scroll-behavior: smooth;
  overflow-x: hidden;
  position: relative;
}

body {
  background: #c7c5c5;
}

h1,
h2,
h3,
p,
a,
button,
ul,
li,
input,
::-webkit-input-placeholder {
  font-family: "Josefin Sans", sans-serif;
}

h1,
h2,
h3,
p,
a,
button,
ul,
li,
input,
:-ms-input-placeholder {
  font-family: "Josefin Sans", sans-serif;
}

h1,
h2,
h3,
p,
a,
button,
ul,
li,
input,
::-ms-input-placeholder {
  font-family: "Josefin Sans", sans-serif;
}

h1,
h2,
h3,
p,
a,
button,
ul,
li,
input,
::placeholder {
  font-family: "Josefin Sans", sans-serif;
}

p,
span,
button {
  font-size: 1.6rem;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

input,
button {
  cursor: pointer;
}

button {
  border: 0;
  background: none;
}

input[type="text"]::-webkit-search-decoration,
input[type="text"]::-webkit-search-cancel-button,
input[type="text"]::-webkit-search-results-button,
input[type="text"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

input[type="number"]::-webkit-search-decoration,
input[type="number"]::-webkit-search-cancel-button,
input[type="number"]::-webkit-search-results-button,
input[type="number"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.hide {
  display: none;
}

body {
  padding: 4.8rem 2.4rem;
}

body header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 4rem;
}

body header .logo-header {
  color: black;
  letter-spacing: 12px;
}

body header .icon-moon {
  width: 1.932rem;
  height: 2rem;
}

body main .input-container {
  margin-bottom: 1.6rem;
}

body main .input-container .todo {
  width: 100%;
  height: 4.8rem;
  border: none;
  border-radius: 5px;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.3rem;
  padding: 0 2rem;
  cursor: pointer;
}

body main .input-container .todo .circle {
  height: 20px;
  width: 20px;
  border-radius: 90px;
  border: 0.1rem #e3e4f1 solid;
}

body main .input-container .todo .circle .checkmark {
  margin-left: 0.4rem;
  margin-top: 0.5rem;
}

body main .input-container .todo .todo-input {
  width: 100%;
  height: 4.8rem;
  border: none;
  outline: none;
  color: #484b6a;
  font-size: 1.5rem;
  letter-spacing: -0.017rem;
}

body main .todo-container ul .list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 5.2rem;
  border: none;
  background: white;
  padding: 0 2rem;
  border-bottom: 1px #e4e5f1 solid;
}

body main .todo-container ul .list-item:nth-child(1) {
  border-radius: 5px 5px 0 0;
}

body main .todo-container .todo-info-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 5rem;
  background: white;
  padding: 0 2rem;
  width: 100%;
  border-radius: 0 0 5px 5px;
  margin-bottom: 1.6rem;
}

body main .todo-container .todo-info-container .items-left {
  color: #9394a5;
  font-size: 1.4rem;
  letter-spacing: -0.017rem;
}

body main .todo-container .todo-info-container .btn-clear {
  color: #9394a5;
  font-size: 1.4rem;
  letter-spacing: -0.017rem;
}

body main .filter-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
  width: 100%;
  height: 4.8rem;
  background: white;
  border-radius: 5px;
  margin-bottom: 4rem;
}

body main .filter-container .btn {
  color: #9394a5;
  font-weight: 700;
  font-size: 1.4rem;
}

body main .instruction-paragraph {
  color: #9394a5;
  font-size: 1.4rem;
  letter-spacing: -0.019rem;
  text-align: center;
}
/*# sourceMappingURL=styles.css.map */